#apps {
    width: calc(100% - 2rem);

    margin-right: 1rem;
    margin-left: 1rem;

    margin-bottom: 1em;
}

.app-picture {
    height: calc(calc(.25rem * 2) + 1.25rem + 1rem)
}

#app-carousel {
    margin-top: calc(56px);
    margin-bottom: .5em;
}

.carousel-item > img {
    max-height: 40vh;
    width: 100%; height: 100%;
    object-fit: cover;
}

.carousel-item > .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1em;
}

.twitter-typeahead {
    width: 100%;
}

.g-recaptcha {
    display: inline-block;
}